<form class="enter-form">
  <div class="custom-form center">
    <div class="form-left">
      <label for="Email">Email</label>
      <br />
      <label for="Password">Wachtwoord</label>
      <br />
    </div>

    <div class="form-right">
      <input
        id="Email"
        type="email"
        [(ngModel)]="Email"
        name="Email"
        title="Email"
        placeholder="Email"
      />
      <br />
      <input
        id="Password"
        type="password"
        [(ngModel)]="Password"
        name="Password"
        title="Wachtwoord"
        placeholder="Wachtwoord"
      />
    </div>
  </div>

  <button class="form-button" type="submit" (click)="LogIn()">Inloggen</button>
  <br />
  <button
    routerLink="/registration"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Registratie
  </button>
</form>

<div class="background-shape-top background-thingie">
  <img src="../../assets/Shapes/hero-coral-bottom.svg" />
</div>
<div class="background-shape-bottom background-thingie">
  <img src="../../assets/Shapes/hero-coral-bottom.svg" />
</div>
