<form>
  <div class="custom-form">
    <div class="form-left">
      <label for="Email">Email: </label> <br />
      <label for="Username">Username: </label> <br />
      <label for="Password">Password: </label>
    </div>
    <div class="form-right">
      <input
        id="Email"
        type="email"
        [(ngModel)]="Email"
        name="Email"
        title="Email"
        placeholder="Email"
      />
      <br />
      <input
        id="Username"
        type="Username"
        [(ngModel)]="UserName"
        name="Username"
        title="Leerling nummer"
        placeholder="Leerling nummer"
      />
      <br />
      <input
        id="Password"
        type="password"
        [(ngModel)]="Password"
        name="Password"
        title="Wachtwoord"
        placeholder="Wachtwoord"
      />
    </div>
    <br />
  </div>

  <button class="form-button" type="submit" (click)="SignUp()">
    Sign up
  </button>
  <br />
  <a
    routerLink="/login"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Log in
  </a>
</form>
