<!-- =================== -->
<!-- Development helpers -->
<!-- =================== -->
<div [style.display]="developmentNavigator ? 'block' : 'none'">
  <nav>
    <h2>Navigation for development</h2>
    <a
      class="button"
      routerLink="/login"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Login
    </a>
    <a
      class="button"
      routerLink="/registration"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Register
    </a>
    <a
      class="button"
      routerLink="/overview"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Overzicht
    </a>
    <a
      class="button"
      routerLink="/calendar"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Kalender
    </a>
    <a
      class="button"
      routerLink="/form"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Examen Formulier
    </a>
  </nav>
</div>
<!-- =================== -->
<!-- Development helper end -->
<!-- =================== -->
<div class="top-navbar" *ngIf="!onLoginPage">
  <img
    class="logo-image"
    src="../assets/Vista Weblogos/VISTA_Logo_Liggend_koraal_RGB.png"
    alt="logo"
  />

  <div class="view-toggle-container">
    <span> Overzicht </span>
    <mat-slide-toggle></mat-slide-toggle>
    <span> Kalender </span>
  </div>

  <a
    class="button"
    routerLink="/form"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    +
  </a>

  <a class="log-out">Uitloggen</a>
</div>
<router-outlet></router-outlet>
