<!-- =================== -->
<!-- Development helpers -->
<!-- =================== -->
<div [style.display]="developmentNavigator ? 'block' : 'none'">
  <nav>
    <h2>Navigation for development</h2>
    <a
      class="button"
      routerLink="/login"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Login
    </a>
    <a
      class="button"
      routerLink="/registration"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Register
    </a>
    <a
      class="button"
      routerLink="/overview"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Overzicht
    </a>
    <a
      class="button"
      routerLink="/calendar"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Kalender
    </a>
    <a
      class="button"
      routerLink="/form"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Examen Formulier
    </a>
  </nav>
</div>
<!-- =================== -->
<!-- Development helper end -->
<!-- =================== -->

<div class="top-navbar" *ngIf="!onLoginPage">
  <img
    class="logo-image"
    src="../assets/VistaWeblogos/VISTA_Logo_Liggend_koraal_RGB.png"
    alt="logo"
  />

  <div class="view-toggle-container">
    <a
      class="button"
      routerLink="/overview"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Overzicht
    </a>
    <mat-slide-toggle
      [(ngModel)]="onCalendarPage"
      (click)="toggleOverview()"
    ></mat-slide-toggle>
    <a
      class="button"
      routerLink="/calendar"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Kalender
    </a>
  </div>

  <a
    class="add-button"
    routerLink="/form"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
    </svg>
  </a>
</div>

<a class="log-out">Uitloggen</a>
<router-outlet></router-outlet>
