.calendar {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.week {
  display: flex;
  flex-direction: row;
}

.dag {
  border-radius: 10px;
  border: 2px var(--petrol100) solid;
  width: 150px;
  height: 100px;
  position: relative;
  margin: 15px 10px;
  background-color: var(--koraalrood50);
}

.dag .daynum {
  margin: 0;
  position: absolute;
  top: -67%;
  width: 100%;
  padding: 10px 0px;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.dag .exambanner:not(:empty) {
  background-color: var(--koraalrood100);
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 10px 0 10px 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
