<div class="calender center">
  <div class="calendar-container">
    <header class="calendar-header">
      <div class="calendar-navigation">
        <span id="calendar-prev" (click)="calendarService.prevMonth()">
          <i class="arrow arrow-left"></i>
        </span>
      </div>
      <p class="calendar-current-date">
        {{ calendarService.year }}<br />
        {{ calendarService.months[calendarService.month] }}
      </p>
      <div class="calendar-navigation">
        <span id="calendar-next" (click)="calendarService.nextMonth()">
          <i class="arrow arrow-right"></i>
        </span>
      </div>
    </header>

    <div class="calendar-body">
      <ul class="calendar-weekdays">
        <li>Zo</li>
        <li>Ma</li>
        <li>Di</li>
        <li>Wo</li>
        <li>Do</li>
        <li>Vr</li>
        <li>Za</li>
      </ul>
      <ul class="calendar-dates">
        <li *ngFor="let date of calendarService.dates" [class]="date.class">
          <div (click)="calendarService.ShowExamsPopup(date)">
            {{ date.value }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="popup" *ngIf="calendarService.examsPopup">
  <div class="backdrop" (click)="calendarService.examsPopup = false"></div>
  <div class="popup-content">
    <div class="close-popup" (click)="calendarService.examsPopup = false">
      Sluiten
    </div>
    <div
      *ngFor="
        let exam of calendarService.GetExameForDate(
          calendarService.date.value,
          calendarService.date.class
        )
      "
    >
      {{ exam.examenItem.naam_Examen }}
    </div>
    <div>
      {{ calendarService.examsForSelectedDate }}
      {{ calendarService.selectedDay }}
    </div>
  </div>
</div>
