.backdrop {
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.popup {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 5;
  background-color: rgb(255, 255, 0);
}

.popup-content {
  justify-content: center;
  display: flex;
  background-color: white;
  opacity: 1;
  border: solid black 2px;
  width: 80%;
  margin: -20% auto 0 auto;
  z-index: 7;
  padding: 20px;
}

.close-popup {
  position: absolute;
  border: 2px solid var(--petrol100);
  padding: 5px;
  cursor: pointer;
  bottom: 0;
  // right: 0;
}
