.arrow {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
  width: 10px;
  height: 10px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.calendar-container {
  background: #fff;
  width: 80%;
  border-radius: 10px;

  header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    .calendar-navigation {
      display: flex;
      span {
        height: 38px;
        width: 38px;
        margin: 0 1px;
        cursor: pointer;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
        user-select: none;
        font-size: 1.9rem;
      }
      span:last-child {
        margin-right: -10px;
      }
      span:hover {
        background: #f2f2f2;
        .arrow {
          border: solid var(--citroengeel100);
          border-width: 0 6px 6px 0;
        }
      }
    }
    .calendar-current-date {
      font-weight: 500;
      font-size: 1.45rem;
    }
    .calendar-body {
      padding: 20px;
    }
  }
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  li {
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar-dates {
    margin-bottom: 20px;

    li {
      width: 100px;
      height: 10%;
      margin-top: 30px;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
    li.inactive {
      color: #aaa;
    }
    li.active {
      color: #fff;
    }
    li::before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
    li.active::before {
      background: #6332c5;
    }
    li:not(.active):hover::before {
      background: #e4e1e1;
    }
  }
  .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
  }
}
