@import url("https://fonts.googleapis.com/css2?family=Raleway5");

:root {
  --petrol100: hwb(185 0% 64% / 1); // Main petrol 100%
  --petrol90: hwb(185 0% 64% / 0.9); // Main petrol 90%
  --petrol80: hwb(185 0% 64% / 0.8); // Main petrol 80%
  --petrol70: hwb(185 0% 64% / 0.7); // Main petrol 70%
  --petrol60: hwb(185 0% 64% / 0.6); // Main petrol 60%
  --petrol50: hwb(185 0% 64% / 0.5); // Main petrol 50%
  --koraalrood100: hwb(10 29% 7% / 1); // Main koraalrood 100%
  --koraalrood90: hwb(10 29% 7% / 0.9); // Main koraalrood 90%
  --koraalrood80: hwb(10 29% 7% / 0.8); // Main koraalrood 80%
  --koraalrood70: hwb(10 29% 7% / 0.7); // Main koraalrood 70%
  --koraalrood60: hwb(10 29% 7% / 0.6); // Main koraalrood 60%
  --koraalrood50: hwb(10 29% 7% / 0.5); // Main koraalrood 50%

  --citroengeel100: hwb(55 40% 0% / 1); // Buttons citroengeel 100%
  --citroengeel70: hwb(55 40% 0% / 0.7); // Buttons citroengeel 70%
  --citroengeel50: hwb(55 40% 0% / 0.5); // Buttons citroengeel 50%
  --citroengeel30: hwb(55 40% 0% / 0.3); // Buttons citroengeel 30%
}

:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Railway", sans-serif;
  margin: 0;
  padding: 0;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  line-height: 102%;
}

span,
p,
a,
label {
  margin: 0;
  color: black;
  text-decoration: none;
}

.top-navbar {
  display: flex;
  height: 60px;
  max-height: 70px;
  padding: 10px;
  padding-right: 100px;
  left: 0;
  right: 0;
  justify-content: space-between;

  line-height: 60px;
  background: var(--petrol100);
  span,
  a {
    color: white;
    font-size: larger;
  }
  .view-toggle-container {
    mat-slide-toggle {
      .mdc-switch__track {
        background-color: var(--koraalrood100);
      }
      .mdc-switch__handle {
        background-color: var(--citroengeel100);
        fill: none;
      }
    }
  }
  .add-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    background-color: var(--citroengeel100);
    fill: var(--koraalrood100);
  }
}
.log-out {
  color: white;
  position: absolute;
  right: 10px;
  top: 30px;
  :hover {
    cursor: pointer;
  }
}

.logo-image {
  height: 100%;
}

form {
  width: 100%;
  text-align: center;
}
.custom-form {
  display: flex;
  flex-direction: row;
  line-height: 24px;
  padding: 10vh 0 0 calc(50% - 125px);
  text-align: left;
  background-color: voilet;
  max-width: 100%;
  min-width: 100%;
}

//#region Development helpers
//=================================
// Development helpers
//=================================
nav {
  position: absolute;
  display: flex;
  z-index: 9001;
  flex-direction: column;
  right: 0px;
  bottom: 0px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 10px;
  text-decoration: none;
}
//#endregion
