<!-- <div class="exam-form-page"> -->
<div class="container-left">
  <div class="calendar">
    <div>
      <div class="dayNames">
        <span>Maandag</span>
        <span>Dinsdag</span>
        <span>Woensdag</span>
        <span>Donderdag</span>
        <span>Vrijdag</span>
      </div>
      <div
        class="week week{{ week + 1 }}"
        *ngFor="let index of [].constructor(4); let week = index"
      >
        <p>Week {{ week + 1 }}</p>
        <div
          class="dag dag{{ day + 1 }}"
          *ngFor="let index of [].constructor(5); let day = index"
        >
          <p class="exambanner">
            {{ Exams[day].Time }} - {{ Exams[day].ExamName }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-right">
  <form class="exam-form">
    <div class="custom-form center">
      <div class="form-left">
        <label for="Image">Afbeelding link</label>
        <br />
        <label for="ExamName">Examen Naam</label>
        <br />
        <label for="ExamName">Vak</label>
        <br />
        <label for="ExamName">Klas</label>
        <br />
        <label for="ExamName">Lokaal</label>
        <br />
        <label for="ExamName">Toezichthouder</label>
        <br />
        <label for="ExamName">Datum</label>
        <br />
        <label for="ExamName">Tijdstip</label>
        <br />
      </div>

      <div class="form-lower">
        <!-- <input
      id="Image"
      type="file"
      [(ngModel)]="Image"
      name="Afbeelding"
      placeholder="Afbeelding"
      onchange="console.log(event.target.files)"
    /> -->
        <input
          id="Image"
          type="text"
          [(ngModel)]="Image"
          name="Image"
          title="Afbeelding URL"
          placeholder="Afbeelding URL"
        />
        <br />
        <input
          id="ExamName"
          type="text"
          [(ngModel)]="ExamName"
          name="ExamName"
          title="Examen Naam"
          placeholder="Examen Naam"
        />
        <br />
        <input
          id="Subject"
          type="text"
          [(ngModel)]="Subject"
          name="Subject"
          title="Vak"
          placeholder="Vak"
        />
        <br />
        <input
          id="Class"
          type="text"
          [(ngModel)]="Class"
          name="Class"
          title="Klas"
          placeholder="Klas"
        />
        <br />
        <input
          id="Room"
          type="text"
          [(ngModel)]="Room"
          name="Room"
          title="Lokaal"
          placeholder="Lokaal"
        />
        <br />
        <input
          id="Supervisor"
          type="text"
          [(ngModel)]="Supervisor"
          name="Supervisor"
          title="Toezichthouder"
          placeholder="Toezichthouder"
        />
        <br />
        <input
          id="Date"
          type="text"
          [(ngModel)]="Date"
          name="Date"
          title="Datum"
          placeholder="Datum"
        />
        <br />
        <input
          id="Time"
          type="text"
          [(ngModel)]="Time"
          name="Time"
          title="Tijdstip"
          placeholder="Tijdstip"
        />
      </div>
    </div>

    <button class="form-button" type="submit">Opslaan</button>
  </form>
</div>
