<!-- <div class="exam-form-page"> -->
<div class="container-left">
  <div class="calender center">
    <div class="calendar-container">
      <header class="calendar-header">
        <div class="calendar-navigation">
          <span id="calendar-prev" (click)="prevMonth()">
            <i class="arrow arrow-left"></i>
          </span>
        </div>
        <p class="calendar-current-date">
          {{ this.year }}<br />
          {{ this.months[this.month] }}
        </p>
        <div class="calendar-navigation">
          <span id="calendar-next" (click)="nextMonth()">
            <i class="arrow arrow-right"></i>
          </span>
        </div>
      </header>

      <div class="calendar-body">
        <ul class="calendar-weekdays">
          <li>Zo</li>
          <li>Ma</li>
          <li>Di</li>
          <li>Wo</li>
          <li>Do</li>
          <li>Vr</li>
          <li>Za</li>
        </ul>
        <ul class="calendar-dates">
          <li *ngFor="let date of dates" [class]="date.class">
            {{ date.value }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-right">
  <form class="exam-form">
    <div class="custom-form center">
      <div class="form-left">
        <label for="Image">Afbeelding link</label>
        <br />
        <label for="ExamName">Examen Naam</label>
        <br />
        <label for="ExamName">Vak</label>
        <br />
        <label for="ExamName">Klas</label>
        <br />
        <label for="ExamName">Lokaal</label>
        <br />
        <label for="ExamName">Toezichthouder</label>
        <br />
        <label for="ExamName">beginTijd</label>
        <br />
        <label for="ExamName">eindTijd</label>
        <br />
      </div>

      <div class="form-lower">
        <input
          id="Image"
          type="text"
          [(ngModel)]="Image"
          name="Image"
          title="Afbeelding URL"
          placeholder="Afbeelding URL"
        />
        <br />
        <input
          id="ExamName"
          type="text"
          [(ngModel)]="Exame.naam_Examen"
          name="ExamName"
          title="Examen Naam"
          placeholder="Examen Naam"
        />
        <br />
        <input
          id="Subject"
          type="text"
          [(ngModel)]="Exame.vak_Examen"
          name="Subject"
          title="Vak"
          placeholder="Vak"
        />

        <br />

        <select [(ngModel)]="agendaItem.klas_Id" name="agendaItem.klas_Id">
          <option *ngFor="let Klas of klasses" [value]="Klas.Id">
            {{ Klas.Naam }}
          </option>
        </select>

        <a
          class="form-plus form-edit"
          aria-label="Add class"
          (click)="ToggleAddClass()"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
          </svg>
        </a>
        <a
          class="form-minus form-edit"
          aria-label="Remove class room"
          (click)="RemoveClass()"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M20 14H4V10H20" />
          </svg>
        </a>

        <br />

        <select [(ngModel)]="agendaItem.lokaal_Id" name="agendaItem.lokaal_Id">
          <option *ngFor="let lokaal of lokaal" [value]="lokaal.Id">
            {{ lokaal.Lokaal }}
          </option>
        </select>

        <a
          class="form-plus form-edit"
          aria-label="Add class room"
          (click)="ToggleAddClassRoom()"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
          </svg>
        </a>
        <a
          class="form-minus form-edit"
          aria-label="Remove class room"
          (click)="RemoveClass()"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M20 14H4V10H20" />
          </svg>
        </a>

        <br />

        <select
          [(ngModel)]="Exame.toezichthouder_Id"
          name="Exame.toezichthouder_Id"
        >
          <option
            *ngFor="let toezicht of Toezichthouders"
            [value]="toezicht.Id"
          >
            {{ toezicht.Naam }}, {{ toezicht.Achternaam }}
          </option>
        </select>

        <br />

        <input
          id="beginTijd"
          type="datetime-local"
          [(ngModel)]="agendaItem.beginTijd"
          name="Date"
          title="Datum"
          placeholder="Datum"
        />
        <br />
        <input
          id="eindTijd"
          type="datetime-local"
          [(ngModel)]="agendaItem.eindTijd"
          name="datetime"
          title="Datum"
          placeholder="Datum"
        />
      </div>
    </div>

    <button class="form-button" type="submit" (click)="save()">Opslaan</button>
  </form>
</div>

<div class="popup-container" *ngIf="AddPopup">
  <div class="add-class-container" *ngIf="AddClass">
    <form class="exam-form">
      <div class="custom-form center">
        <div class="form-left">
          <label for="Klas">Klas</label>
          <br />
          <label for="Mentor">Mentor</label>
          <br />
        </div>

        <div class="form-lower">
          <input
            id="Class"
            type="text"
            [(ngModel)]="ClassData.naam"
            name="Klas"
            title="Klas"
            placeholder="Klas"
          />
          <br />
          <input
            id="Mentor"
            type="text"
            [(ngModel)]="ClassData.mentor"
            name="Mentor"
            title="Mentor"
            placeholder="Mentor"
          />
        </div>
      </div>

      <button class="form-button" type="submit" (click)="SaveClass()">
        Opslaan
      </button>
      <br />
      <a (click)="CancelAdding()">Annuleren</a>
    </form>
  </div>

  <div class="add-classroom-container" *ngIf="AddClassRoom">
    <form class="exam-form">
      <div class="custom-form center">
        <div class="form-left">
          <label for="ExamName">Lokaal</label>
          <br />
        </div>

        <div class="form-lower">
          <input
            id="ClassRoom"
            type="text"
            [(ngModel)]="NewLokaal"
            name="Lokaal"
            title="Klas lokaal"
            placeholder="Klas lokaal"
          />
        </div>
      </div>

      <button class="form-button" type="submit" (click)="SaveClassRoom()">
        Opslaan
      </button>
      <br />
      <a class="cancel" (click)="CancelAdding()">Annuleren</a>
    </form>
  </div>
</div>
