.form-edit {
  width: 15%;
  height: 100%;
  margin: auto 2px;
  svg {
    width: 20px;
    height: 20px;
  }
  :hover {
    cursor: pointer;
    fill: var(--koraalrood100);
  }
}

select {
  border: 0px;
  border-bottom: 2px solid var(--petrol100);
  width: 70%;
}

.popup-container {
  top: 15%;
  margin: auto 15%;
  width: 70%;
  height: 70%;
  position: fixed;
  background-color: rgb(255, 255, 255);
  border: 1px black solid;
  border-radius: 20px;
  z-index: 10;
}

.cancel:hover {
  cursor: pointer;
  color: var(--koraalrood100);
}

.sign {
  display: fixed;
  height: 40px;
  width: 40px;
  padding: 3px;
}

.notifier {
  position: absolute;

  top: calc(50vh - 150px);
  left: calc(50vw - 10%);
  padding: 5%;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 0px 30px black;
}
