<div class="overview-page center">
  <h2>{{ timeofday }} {{ Accounts[1].Firstname }}</h2>

  <div
    class="coming-exams container-centered"
    *ngFor="let Exam of Exams | slice : 0 : 3"
  >
    <div class="coming-exam">
      <div class="coming-image">
        <img src="{{ Exam.Image }}" />
      </div>
      <div class="exam-left exam-info">
        <p class="exam-name">{{ Exam.ExamName }}</p>
        <p>{{ Exam.Room }}</p>
        <p>Vak: {{ Exam.Subject }}</p>
      </div>
      <div class="exam-right exam-info">
        <p>Datum: {{ Exam.Date }}</p>
        <p>Start tijd: {{ Exam.Time }}</p>
        <p>Toezichthouder: {{ Exam.Supervisor }}</p>
      </div>
    </div>
  </div>
</div>
